USE [master]
GO
/****** Object:  Database [StockMarket]    Script Date: 2016/11/5 18:32:31 ******/
CREATE DATABASE [StockMarket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockMarket', FILENAME = N'J:\StockMarket.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StockMarket_log', FILENAME = N'J:\StockMarket_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockMarket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockMarket]
GO
/****** Object:  Table [dbo].[Institution]    Script Date: 2016/11/5 18:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institution](
	[InstitutionId] [int] NOT NULL,
	[InstitutionCode] [int] NULL,
	[InstitutionName] [nvarchar](100) NULL,
	[InstitutionStar] [smallint] NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
	[LastModifiedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stock]    Script Date: 2016/11/5 18:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockCode] [int] NOT NULL,
	[StockName] [nvarchar](20) NOT NULL,
	[StockTypeId] [int] NOT NULL,
	[IsActivity] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
	[LastModifiedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockReport]    Script Date: 2016/11/5 18:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockReport](
	[StockReportId] [int] NOT NULL,
	[StockCode] [int] NULL,
	[Author] [nvarchar](100) NULL,
	[Change] [nvarchar](100) NULL,
	[Companycode] [int] NULL,
	[Datetime] [datetime] NULL,
	[InstitutionId] [int] NULL,
	[Infocode] [nvarchar](100) NULL,
	[InsCode] [int] NULL,
	[InsName] [nvarchar](100) NULL,
	[InsStar] [int] NULL,
	[Rate] [nvarchar](100) NULL,
	[SratingName] [nvarchar](100) NULL,
	[CurrentProfit] [decimal](10, 2) NULL,
	[FutureProfit] [decimal](10, 2) NULL,
	[CurrentIncomeRate] [decimal](10, 4) NULL,
	[FutureIncomeRate] [decimal](10, 4) NULL,
	[Title] [nvarchar](500) NULL,
	[ProfitYear] [int] NULL,
	[NewPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockType]    Script Date: 2016/11/5 18:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockType](
	[StockTypeId] [int] NOT NULL,
	[StockTypeName] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
