<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    
    <add key="datareport" value="http://data.eastmoney.com/report/{date}/" />
    <add key="QueryStock" value="http://quote.eastmoney.com/{sh}{600123}.html?" />
    <add key="F10" value="http://f10.eastmoney.com/f10_v2/CompanySurvey.aspx?code={sh}{600123}" />
  </appSettings>
  <connectionStrings>
    <add name="StockMarket" connectionString="Data Source=.;Initial Catalog=StockMarket;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>